{% extends 'base/main.html' %} {% block content%} 
<style>
  body{
    margin-top: 20mm;
    margin-bottom: 20mm;
  }
  #list {
    list-style-type: none;
  }
  ul li {
    width: 50%;
    float: left;
  }
  h1 {
    color: white;
    text-align: center;
    background-image: linear-gradient(
      to bottom right,
      rgb(48, 67, 66),
      rgb(88, 90, 142)
    );
    margin-top: 10mm;
  }
  #add,
  #update {
    color: rgb(104, 28, 39);
    font-size: 32px;
    border-radius: 5%;
    padding: 4px;
    font-weight: 500;
    
  }

  p {
    padding-bottom: 20px;
  }
  a {
    color: black;
  }
  
</style>
<body>
<div>
  

  <center>
    <a id="update" href="{% url 'master' %}"
      >Latest Available Versions Master List - Update Or Add New Product</a
    >
  </center>
  <center>
    <a id="add" href="{% url 'add_product' %}"
      >Add a Product to a Client</a
    >
  </center>
    <h1>Clients</h1>
    {% for client in client_list %}
    <ul id="list">
      <li>
        <button type="button" class="btn btn-light btn-lg">
          <a href="{% url 'data-per-client' client.entity %}">{{client}}</a>
        </button>
      </li>
    </ul>

    {% endfor %}
  </div>
  <p>.</p>

  <div>
    <h1>Products</h1>
    {% for p in product2 %}
    <ul id="list">
      <li>
        <button type="button" class="btn btn-light btn-lg">
          <a href="{% url 'data-per-product' p.product %}">{{p}}</a>
        </button>
      </li>
    </ul>

    {% endfor %}
  </div>
</div>
</body>
{% endblock content %}
