{% extends 'base/main.html' %}{% block content %}
<a href="{% url 'tasks' task.id %}"
  ><button type="button" class="btn btn-primary">Go back</button></a
>
<form method="POST">
  {% csrf_token %}
  <p>Are you sure you want to delete this record for {{task}}?</p>

  <div>{% for task in tasks%}
  
    {{task.product}}</b>&nbsp; {{task.version}}&nbsp;(Current Version
    {{task.current_version}})
    {% endfor %}
  </div>
 <button type="button" class="btn btn-danger" > <input type="submit" value="Delete" /></button>
</form>
{% endblock content %}
